<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65827511555-l0g0s0n9itio0cd50dbbph752cododr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65827511555-l0g0s0n9itio0cd50dbbph752cododr9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>65827511555-4h7r77snjmho99e1ktqtkf54mnpkvqd4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDH_uFOZukkrR2bjPacJ5g7eaCzJJPwv4k</string>
	<key>GCM_SENDER_ID</key>
	<string>65827511555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rawan.beauty</string>
	<key>PROJECT_ID</key>
	<string>rawanbeauty3</string>
	<key>STORAGE_BUCKET</key>
	<string>rawanbeauty3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65827511555:ios:c0359e35453feeac075d36</string>
</dict>
</plist>